.git
.gitignore
.venv
.pytest_cache
.tmp
.tmp_*
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/node_modules
**/dist
pytest-cache-files-*
airflow/logs
output/*.parquet
repo.bundle
southern-zone-260425.osm.pbf
